@use '../abstracts/variables' as *;

body {
  color: $text-color;
  background: linear-gradient(
    135deg,
    $bg-gradient-start,
    $bg-gradient-middle,
    $bg-gradient-end
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  display: grid;
  gap: clamp(3rem, 7vw, 6rem);
}

section {
  width: 100%;
  display: block;
  scroll-margin-top: 90px;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
