@use "../abstracts/variables" as *;

/* Galerie */
.gallery {
    margin-top: 3rem;
  
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem;
    }
  
    &__item {
      border-radius: $radius-sm;
      overflow: hidden;
      box-shadow: $shadow-soft;
      background: rgba(255,255,255,0.9);
    }
  }

